.weather {
  position: fixed;
  top: 90px;
  right: 10px;
  color: #cc0000;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.5);
  padding: .5rem;
  border-radius: 1rem;
}

.title {
  position: fixed;
  top: 55px;
  right: 14px;
  color: white;
}
